@mixin wrapper {
  width: 1150px;
  margin: 0 auto;
}

@mixin wrapper-tight {
  width: 965px;
  margin: 0 auto;
}

@mixin ul-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin heading-shadow($content, $top, $left, $font-size:270px, $rotate-value:0) {
  &::before {
    content: $content;
    position: absolute;
    top: $top;
    left: $left;
    font-family: $main-font;
    font-size: $font-size;
    color: $color-grey;
    opacity: 0.06;
    transform: rotate($rotate-value);
    z-index: -1;
  }
}
