$main-font: "Lato", sans-serif;
// $mobile-widths: "(max-width: 767px)";
// $tablet-widths: "(max-width: 1199px)";
// $retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
$color-pink: #FF8591;
$color-black: #3B3B3B;
$color-grey: #ADACAC;
