<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title ReSee
    link(rel="stylesheet" type="text/css" href="css/style.min.css")
    link(href='https://fonts.googleapis.com/css?family=Lato:400,700', rel='stylesheet')
  body
    .page-wrapper
      header.page-header
        .page-header__wrapper
          .page-header__inner
            a.page-header__logo.logo(href="#")
              img(src="img/icons/logo.png" alt="logo")
            p.page-header__text Shop and sell the BEST from Past Collections. &#x20;
              a(href="#") We Ship Globally.
          .page-header__product
            .page-header__product-img-wrapper
              img(src="img/header-product-img.png")
            .page-header__product-info-wrapper
              h1.page-header__product-title Prada
              span.page-header__product-name Hooded Duffle Coat
              span.page-header__product-price € 1250,00
              .page-header__btns
                a.btn.page-header__btn(href="#") Quick view
                a.btn.btn--pink.page-header__btn(href="#") Add to cart
              .page-header__more
                h4.page-header__more-title More from Prada
                ul.page-header__more-list
                  li.page-header__more-item
                    a(href="#")
                      img(src="img/product-3.jpg" alt="clothing-item")
                  li.page-header__more-item
                    a(href="#")
                      img(src="img/product-1.jpg" alt="clothing-item")
                  li.page-header__more-item
                    a(href="#")
                      img(src="img/product-2.jpg" alt="clothing-item")
                  li.page-header__more-item
                    a(href="#")
                      img(src="img/product-3.jpg" alt="clothing-item")
                a.btn.page-header__more-btn(href="#") Shop Prada
                  include icons/arrow.jade

      main.page-content
        nav.main-nav
          .main-nav__wrapper
            ul.main-nav__list.main-nav__list--first
              li.main-nav__item
                a(href="#") New
              li.main-nav__item
                a(href="#") Clothing
              li.main-nav__item
                a(href="#") Bags
              li.main-nav__item
                a(href="#") Shoes
              li.main-nav__item
                a(href="#") Accessories
              li.main-nav__item
                a(href="#") Gifts
            ul.main-nav__list.main-nav__list--second
              li.main-nav__item
                a(href="#") The
              li.main-nav__item
                a(href="#") Inspiration
              li.main-nav__item
                a(href="#") Collaborations
            .main-nav__icons
              a.main-nav__icon(href="#")
                include icons/search.jade
              a.main-nav__icon(href="#")
                include icons/basket.jade
        .categories-switcher
          .categories-switcher__wrapper
            ul.categories-switcher__list
              li.categories-switcher__item
                a(href="#") Dresses
              li.categories-switcher__item
                a(href="#") Kaftans
              li.categories-switcher__item
                a(href="#") Skirts
              li.categories-switcher__item
                a(href="#") Ensemble
              li.categories-switcher__item
                a(href="#") Trousers
              li.categories-switcher__item
                a(href="#") Jumpsuits
              li.categories-switcher__item
                a(href="#") Shorts
              li.categories-switcher__item
                a(href="#") Coats
              li.categories-switcher__item
                a(href="#") Furs
              li.categories-switcher__item
                a(href="#") Capes
              li.categories-switcher__item
                a(href="#") Jackets
              li.categories-switcher__item
                a(href="#") Trench
            a.categories-switcher__more(href="#") 4 more
            a.btn(href="#") View all clothing
              include icons/arrow.jade

        section.products
          .products__wrapper
            h2.products__title Clothing
            ul.products__list
              li.product-item
                .product-item__img-wrapper
                  img(src="img/product-1.jpg", alt="clothing-item")
                  .product-item__overlay
                    span.product-item__add-to-favorite
                      include icons/add-to-favorite.jade
                    a.btn.product-item__btn(href="#") Quick view
                    a.btn.btn--pink.product-item__btn(href="#") Add to cart
                .product-item__info
                  span.product-item__brand Balenciaga
                  .product-item__info-inner
                    span.product-item__name Striped Lavaliere Blouse
                    span.product-item__price €1400,00
              li.product-item
                .product-item__img-wrapper
                  img(src="img/product-2.jpg", alt="clothing-item")
                  .product-item__overlay
                    span.product-item__add-to-favorite
                      include icons/add-to-favorite.jade
                    a.btn.product-item__btn(href="#") Quick view
                    a.btn.btn--pink.product-item__btn(href="#") Add to cart
                .product-item__info
                  span.product-item__brand Balenciaga
                  .product-item__info-inner
                    span.product-item__name Striped Lavaliere Blouse
                    span.product-item__price €1400,00
              li.product-item
                .product-item__img-wrapper
                  img(src="img/product-3.jpg", alt="clothing-item")
                  .product-item__overlay
                    span.product-item__add-to-favorite
                      include icons/add-to-favorite.jade
                    a.btn.product-item__btn(href="#") Quick view
                    a.btn.btn--pink.product-item__btn(href="#") Add to cart
                .product-item__info
                  span.product-item__brand Saint Lauren
                  .product-item__info-inner
                    span.product-item__name Plaid Trousers
                    span.product-item__price €1400,00
              li.product-item
                .product-item__img-wrapper
                  img(src="img/product-3.jpg", alt="clothing-item")
                  .product-item__overlay
                    span.product-item__add-to-favorite
                      include icons/add-to-favorite.jade
                    a.btn.product-item__btn(href="#") Quick view
                    a.btn.btn--pink.product-item__btn(href="#") Add to cart
                .product-item__info
                  span.product-item__brand Saint Lauren
                  .product-item__info-inner
                    span.product-item__name Plaid Trousers
                    span.product-item__price €1400,00
              li.product-item
                .product-item__img-wrapper
                  img(src="img/product-1.jpg", alt="clothing-item")
                  .product-item__overlay
                    span.product-item__add-to-favorite
                      include icons/add-to-favorite.jade
                    a.btn.product-item__btn(href="#") Quick view
                    a.btn.btn--pink.product-item__btn(href="#") Add to cart
                .product-item__info
                  span.product-item__brand Balenciaga
                  .product-item__info-inner
                    span.product-item__name Striped Lavaliere Blouse
                    span.product-item__price €1400,00
              li.product-item
                .product-item__img-wrapper
                  img(src="img/product-2.jpg", alt="clothing-item")
                  .product-item__overlay
                    span.product-item__add-to-favorite
                      include icons/add-to-favorite.jade
                    a.btn.product-item__btn(href="#") Quick view
                    a.btn.btn--pink.product-item__btn(href="#") Add to cart
                .product-item__info
                  span.product-item__brand Balenciaga
                  .product-item__info-inner
                    span.product-item__name Striped Lavaliere Blouse
                    span.product-item__price €1400,00
              li.product-item
                .product-item__img-wrapper
                  img(src="img/product-3.jpg", alt="clothing-item")
                  .product-item__overlay
                    span.product-item__add-to-favorite
                      include icons/add-to-favorite.jade
                    a.btn.product-item__btn(href="#") Quick view
                    a.btn.btn--pink.product-item__btn(href="#") Add to cart
                .product-item__info
                  span.product-item__brand Saint Lauren
                  .product-item__info-inner
                    span.product-item__name Plaid Trousers
                    span.product-item__price €1400,00
              li.product-item
                .product-item__img-wrapper
                  img(src="img/product-3.jpg", alt="clothing-item")
                  .product-item__overlay
                    span.product-item__add-to-favorite
                      include icons/add-to-favorite.jade
                    a.btn.product-item__btn(href="#") Quick view
                    a.btn.btn--pink.product-item__btn(href="#") Add to cart
                .product-item__info
                  span.product-item__brand Saint Lauren
                  .product-item__info-inner
                    span.product-item__name Plaid Trousers
                    span.product-item__price €1400,00
            a.btn.products__btn(href="#") Load more

        section.brands
          .brands__wrapper
            .brands__list-wrapper
              h2.brands__title Brands
              ul.brands__list
                li.brands__item
                  a(href="#") Alaïa
                li.brands__item
                  a(href="#") Alexander McQueen
                li.brands__item
                  a(href="#") Alexander Wang
                li.brands__item
                  a(href="#") Ann Demeulemeester
                li.brands__item
                  a(href="#") Azzaro
                li.brands__item
                  a(href="#") Balenciaga
                li.brands__item
                  a(href="#") Balmain
                li.brands__item.brands__item--active
                  a(href="#") Bottega Veneta
                li.brands__item
                  a(href="#") Burberry
                li.brands__item
                  a(href="#") Calvin Klein
                li.brands__item
                  a(href="#") Cartier
                li.brands__item
                  a(href="#") Carven
                li.brands__item
                  a(href="#") Chanel
                li.brands__item
                  a(href="#") Chloé
                li.brands__item
                  a(href="#") Christian Dior
                li.brands__item
                  a(href="#") Christian Lacroix
                li.brands__item
                  a(href="#") Christian Louboutin
                li.brands__item
                  a(href="#") Christofle
                li.brands__item
                  a(href="#") Christophe Lemaire
              a.btn.brands__btn(href="#") All designers
            .brand
              .brand__img-wrapper
                img(src="img/brand.png" alt="Botega Veneta")
              .brand__info-wrapper
                h3.brand__title Botega Veneta
                span.brand__products-count 24 products
                ul.brand__products
                  li.product-item.product-item--horisontal
                    a(href="#")
                      .product-item__img-wrapper
                        img(src="img/brand-other-1.jpg", alt="clothing-item")
                      .product-item__info
                        span.product-item__brand Botega Veneta
                        .product-item__info-inner
                          span.product-item__name Striped Lavaliere Blouse
                          span.product-item__price €1400,00
                  li.product-item.product-item--horisontal
                    a(href="#")
                      .product-item__img-wrapper.product-item__img-wrapper--without-shadow
                        img(src="img/brand-other-2.png", alt="clothing-item")
                      .product-item__info
                        span.product-item__brand Botega Veneta
                        .product-item__info-inner
                          span.product-item__name Striped Lavaliere Blouse
                          span.product-item__price €1400,00
                a.btn.brand__btn(href="#") 22 more products from this designer
                  include icons/arrow.jade

        section.newsletter
          .newsletter__wrapper
            .newsletter__inner
              h2.newsletter__title
                span.newsletter__pretitle Join our
                | Newsletter
              form.newsletter__subscribe-form
                .newsletter__input-wrapper
                  input(type="email" placeholder="Your email address")
                button.btn.btn--pink(type="submit") Subscribe
                p.newsletter__nospam No spam, we promies. We hate that too.

        secton.sell-with-us
          .sell-with-us__wrapper
            h2.sell-with-us__title Sell with us
            .sell-with-us__about
              p.sell-with-us__text RESEE is the Premiere Editorial platform to SELL your remarkable Fashion Collection. RESEE shoots, stocks and ships your item Globally, so that you don't have to.
              span.sell-with-us__comission
                span 70%
                | commission on items sold
              a.btn.btn--pink.sell-with-us__btn Start selling

      footer.page-footer
        .page-footer__wrapper
          .page-footer__lists
            .page-footer__list-wrapper
              h4.page-footer__list-title Shop
              ul.page-footer__links-list
                li
                  a.page-footer__link(href="#") Clothing
                li
                  a.page-footer__link(href="#") Bags
                li
                  a.page-footer__link(href="#") Shoes
                li
                  a.page-footer__link(href="#") Accessories
                li
                  a.page-footer__link(href="#") Gifts
            .page-footer__list-wrapper
              h4.page-footer__list-title Brands
              ul.page-footer__links-list
                li
                  a.page-footer__link(href="#") Alaïa
                li
                  a.page-footer__link(href="#") Alexander McQueen
                li
                  a.page-footer__link(href="#") Alexander Wang
                li
                  a.page-footer__link(href="#") Ann Demeulemeester
                li
                  a.page-footer__link(href="#") Azzaro
            .page-footer__list-wrapper
              h4.page-footer__list-title Curated Lists
              ul.page-footer__links-list
                li
                  a.page-footer__link(href="#") The Find
                li
                  a.page-footer__link(href="#") Inspiration
                li
                  a.page-footer__link(href="#") Collaborations
                li
                  a.page-footer__link(href="#") Dealers (not sure)
            .page-footer__list-wrapper
              h4.page-footer__list-title Engage
              ul.page-footer__links-list
                li
                  a.page-footer__link(href="#") Sell with us
                li
                  a.page-footer__link(href="#") ReSee TV
                li
                  a.page-footer__link(href="#") Request a product
                li
                  a.page-footer__link(href="#") Newsteller
            .page-footer__list-wrapper
              h4.page-footer__list-title Company
              ul.page-footer__links-list
                li
                  a.page-footer__link(href="#") About us
                li
                  a.page-footer__link(href="#") Credits
                li
                  a.page-footer__link(href="#") Press releases
                li
                  a.page-footer__link(href="#") Testimonials
            .page-footer__list-wrapper
              h4.page-footer__list-title Customer services
              ul.page-footer__links-list
                li
                  a.page-footer__link(href="#") Shipping & Returns
                li
                  a.page-footer__link(href="#") Delivery
                li
                  a.page-footer__link(href="#") Terms of use
                li
                  a.page-footer__link(href="#") Privacy policy
                li
                  a.page-footer__link(href="#") FAQ
                li
                  a.page-footer__link(href="#") Contact
          .page-footer__copyrights Copyright 207-2018 ReSee. All rights reserved.
          .page-footer__follow-wrapper
            span.page-footer__follow Follow us
            .social
              ul.social__list
                li.social__item
                  a(href="#") Facebook
                    include icons/social/icon-facebook.jade
                li.social__item
                  a(href="#") Twitter
                    include icons/social/icon-twitter.jade
                li.social__item
                  a(href="#") Pinterest
                    include icons/social/icon-pinterest.jade
                li.social__item
                  a(href="#") Instagram
                    include icons/social/icon-instagram.jade
                li.social__item
                  a(href="#") Google+
                    include icons/social/icon-google-plus.jade
                li.social__item
                  a(href="#") Telegram
                    include icons/social/icon-telegram.jade
