svg(width='25px', height='14px', viewbox='0 0 25 14', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
  // Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch
  title Group 13
  desc Created with Sketch.
  defs
  g#Homepage(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', transform='translate(-1176.000000, -578.000000)', stroke-linecap='round', stroke-linejoin='round')
    g#Header(transform='translate(0.000000, -62.000000)', stroke='#363636', stroke-width='1.5')
      g#Group-5(transform='translate(508.000000, 0.000000)')
        g#Group-Copy-2(transform='translate(532.000000, 622.000000)')
          g#Group-9(transform='translate(137.000000, 14.000000)')
            g#Group-13
              polyline#Shape(transform='translate(16.683069, 11.000000) rotate(135.000000) translate(-16.683069, -11.000000) ', points='12.4925926 15.1904762 12.4925926 6.80952381 20.873545 6.80952381')
              polyline#Shape(transform='translate(11.236874, 11.000000) rotate(135.000000) translate(-11.236874, -11.000000) ', points='18.9096423 18.6727683 16.3520545 16.1151805 13.7944628 13.5575887 12.515667 12.278793 11.2368751 11.000001 9.9580792 9.72120516 8.67928332 8.44240928 7.40049141 7.16361737 6.12169553 5.88482149 4.84289964 4.6060256 3.56410575 3.3272317')