svg(width='21px', height='27px', viewbox='0 0 21 27', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
  // Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch
  title Group 15
  desc Created with Sketch.
  defs
  g#Homepage(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', transform='translate(-1202.000000, -687.000000)')
    g#Group-8(transform='translate(0.000000, 660.000000)', fill='#363636', fill-rule='nonzero', stroke='#363636', stroke-width='0.6')
      g#Group-4-Copy(transform='translate(1203.000000, 28.000000)')
        g#Group-15
          path#Shape(d='M18.4189394,25 L0.521212121,25 C0.417424242,25 0.318181818,24.9575758 0.246969697,24.8825758 C0.175757576,24.8075758 0.137878788,24.7068182 0.142424242,24.6030303 L0.99469697,6.70530303 C1.00454545,6.5030303 1.17045455,6.34469697 1.37348485,6.34469697 L17.5666667,6.34469697 C17.7689394,6.34469697 17.9356061,6.5030303 17.9454545,6.70530303 L18.7977273,24.6030303 C18.8022727,24.7068182 18.7651515,24.8075758 18.6931818,24.8825758 C18.6212121,24.9575758 18.5219697,25 18.4189394,25 Z M0.918181818,24.2424242 L18.0212121,24.2424242 L17.205303,7.10227273 L1.73409091,7.10227273 L0.918181818,24.2424242 Z')
          path#Shape(d='M13.5643939,8.61742424 C13.355303,8.61742424 13.1856061,8.44772727 13.1856061,8.23863636 L13.1856061,4.47348485 C13.1856061,2.425 11.5189394,0.757575758 9.46969697,0.757575758 C7.42045455,0.757575758 5.75378788,2.425 5.75378788,4.47348485 L5.75378788,8.23863636 C5.75378788,8.44772727 5.58409091,8.61742424 5.375,8.61742424 C5.16590909,8.61742424 4.99621212,8.44772727 4.99621212,8.23863636 L4.99621212,4.47348485 C4.99621212,2.00681818 7.0030303,0 9.46969697,0 C11.9363636,0 13.9431818,2.00681818 13.9431818,4.47348485 L13.9431818,8.23863636 C13.9431818,8.44772727 13.7742424,8.61742424 13.5643939,8.61742424 Z')