$border-width: "1.5px";

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: calc(17px - #{$border-width}) 20px;
  font-size: 12px;
  letter-spacing: 1.85px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #363636;
  border: #{$border-width} solid #000;
  outline: none;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    color: $color-pink;
    border-color: $color-pink;
    svg {
      * {
        stroke: $color-pink
      }
    }
  }
  &--pink {
    padding: calc(17px - #{$border-width}) 20px;
    color: #FFFFFF;
    background-color: $color-pink;
    border-color: $color-pink;
    &:hover {
      padding: calc(17px - #{$border-width}) 20px;
      background-color: transparent;
    }
  }
  svg {
    margin-left: 15px;
    * {
      stroke: $color-black;
      transition: all 0.3s;
    }
  }
}
