.feature-block {
  box-sizing: border-box;
  width: 420px;
  min-height: 340px;
  background-repeat: no-repeat;
  &--big {
    width: 640px;
    min-height: 560px;
    padding-top: 40px;
    padding-right: 70px;
    padding-bottom: 40px;
    padding-left: 290px;
    margin-top: 80px;
    background-image: url(../img/features-inspiration.jpg);
    .feature-block__title {
      font-size: 60px;
      margin-bottom: 15px;
    }
    .feature-block__btn {
      margin-left: 100px;
    }
  }
  &--photo-right {
    padding: 40px;
    padding-right: 145px;
    margin-bottom: 50px;
    background-image: url(../img/features-find.jpg);
    .feature-block__product-info {
      padding-left: 50px;
    }
  }
  &--photo-left {
    padding: 40px 0;
    padding-left: 135px;
    margin-left: auto;
    background-image: url(../img/features-collaborations.jpg);
    .feature-block__title {
      margin-bottom: 40px;
      text-align: right;
    }
    .feature-block__product-info {
      padding-left: 55px;
    }
    .feature-block__btn {
      margin-left: 65px;
    }
  }
}

.feature-block__title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 44px;
  font-weight: normal;
  line-height: 60px;
}

.feature-block__descr {
  display: block;
  margin-bottom: 40px;
  font-family: "Helvetica";
  font-size: 16px;
  line-height: 18px;
}

.feature-block__designers {
  @include ul-reset;
  padding-left: 100px;
  margin-bottom: 30px;
  font-family: "Helvetica";
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

.feature-block__designer {
  padding: 5px 0;
}

.feature-block__product-info {
  margin-bottom: 40px;
}
