.main-nav {
  border-bottom: 1px solid rgba($color-grey, 0.2);
}

.main-nav__wrapper {
  @include wrapper();
}

.main-nav__list {
  @include ul-reset();
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-nav__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  a {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    vertical-align: middle;
    // padding: 25px 16px;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    color: $color-black;
    transition: all 0.3s;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $color-pink;
      opacity: 0;
      transform: translateY(3px);
      transition: opacity 0.3s, transform 0.3s;
    }
    &:hover {
      color: $color-pink;
      &::after {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  &--separator {
    align-self: center;
    width: 1px;
    height: 25px;
    background-color: #EFEEEE;
  }
}

.main-nav__icon {
  padding: 32px 10px;
  transition: all 0.3s;
  &::after {
    display: none;
  }
  &:hover {
    opacity: 0.7;
  }
}
