.newsletter__wrapper {
  @include wrapper();
}

.newsletter__inner {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-top: 60px;
  padding-right: 60px;
  padding-bottom: 75px;
  padding-left: 105px;
  margin-bottom: 105px;
  margin-left: 165px;
  background-color: #FFF9F3;
  &::before {
    content: "";
    position: absolute;
    top: 50px;
    left: -165px;
    width: 230px;
    height: 295px;
    background-image: url("../img/newsletter.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.newsletter__title {
  position: relative;
  padding-top: 35px;
  margin: 0;
  margin-right: 35px;
  font-size: 60px;
  font-weight: normal;
  letter-spacing: -2px;
  @include heading-shadow("Newsletter", -270px, 240px, 170px)
}

.newsletter__pretitle {
  position: absolute;
  top: 20px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal;
}

.newsletter__subscribe-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 40px;
}

.newsletter__input-wrapper {
  box-sizing: border-box;
  width: 255px;
  height: 50px;
  input {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 18px;
    color: $color-black;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $color-black;
    outline: none;
    transition: border-color 0.3s;
    &::placeholder {
      font-size: 16px;
      line-height: 18px;
      color: rgba($color-black, 0.6);
    }
    &:focus {
      border-color: $color-pink;
    }
  }
}

.newsletter__btn {
  margin-left: auto;
}

.newsletter__nospam {
  width: 200px;
  margin: 0;
  margin-top: 20px;
  margin-left: auto;
  font-size: 12px;
  line-height: 18px;
  text-align: right;
  color: #ADACAC;
}
