.page-header {
  position: relative;
  min-height: 660px;
  background-image: url('../img/header-bg.png'),
                    linear-gradient(to bottom, #ffffff, #f5f5f5);
  background-repeat: no-repeat;
  background-position: right 108px bottom -66px, left;
  overflow: hidden;
}

.page-header__wrapper {
  @include wrapper();
}

.page-header__inner {
  position: absolute;
  top: 50px;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.page-header__text {
  a {
    position: relative;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      bottom: -5px;
      left: 0;
      border-bottom: 2px solid $color-pink;
    }
  }
}

.page-header__product {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.page-header__product-img-wrapper {
  position: absolute;
  top: 0;
  left: 4px;
  flex-shrink: 0;
  z-index: 0;
}

.page-header__product-info-wrapper {
  padding-left: 473px;
  padding-top: 113px;
  z-index: 1;
}

.page-header__product-title {
  margin: 0;
  margin-bottom: 27px;
  font-family: "Helvetica", sans-serif;
  font-size: 92px;
  font-weight: normal;
  color: #3B3B3B;
  &::before {
    content: "Prada";
    position: absolute;
    top: -70px;
    left: 620px;
    font-family: $main-font;
    font-size: 272px;
    color: #FFFFFF;
    z-index: -1;
  }
}

.page-header__product-name {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  color: #363636;
}

.page-header__product-price {
  display: block;
  margin-bottom: 20px;
  font-size: 25px;
  color: #ADACAC;
}

.page-header__btns {
  font-size: 0;
  margin-bottom: 55px;
}

.page-header__btn {
  min-width: 180px;
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.page-header__more {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.page-header__more-title {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  color: #ADACAC;
}

.page-header__more-list {
  @include ul-reset();
  display: flex;
}

.page-header__more-item {
  width: 97px;
  height: 140px;
  margin: 0 11.5px;
  display: flex;
  box-shadow: 0 0 25px rgba(#000000, 0.1);
  transition: transform 0.3s;
  &:hover {
    transform: scale(1.07);
  }
}

.page-header__more-btn {
  align-self: flex-end;
  min-width: 180px;
}
