.page-footer {
  padding-bottom: 30px;
}

.page-footer__wrapper {
  @include wrapper();
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.page-footer__lists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 50px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(#000, 0.1);
}

.page-footer__list-title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 21px;
}

.page-footer__links-list {
  @include ul-reset;
  li {
    margin-bottom: 8px;
  }
}

.page-footer__link {
  text-decoration: none;
  color: $color-black;
  transition: all 0.3s;
  &:hover {
    color: $color-pink;
  }
}

.page-footer__copyrights {
  font-family: "Helvetica";
  font-size: 12px;
  color: rgba(#000, 0.1);
}

.page-footer__follow-wrapper {
  display: flex;
  align-items: center;
}

.page-footer__follow {
  margin-right: 20px;
  font-size: 12px;
  text-transform: uppercase;
  color: #363636;
}
