.product-item {
  width: 212px;
  margin-bottom: 60px;
  &--horisontal {
    display: flex;
    .product-item__img-wrapper {
      flex-shrink: 0;
      width: 155px;
      margin-bottom: 0;
    }
    .product-item__info {
      align-self: flex-end;
      padding-left: 40px;
    }
  }
}

.product-item__img-wrapper {
  position: relative;
  margin-bottom: 11px;
  text-align: center;
  box-shadow: 0 0 25px rgba(#000000, 0.1);
  &--without-shadow {
    box-shadow: none;
  }
}

.product-item__overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 16px;
  background-color: rgba(#FFFFFF, 0.85);
  opacity: 0;
  transition: all 0.3s;
  &:hover {
    opacity: 1;
  }
}

.product-item__add-to-favorite {
  align-self: flex-end;
  transition: all 0.2s;
  cursor: pointer;
  &:hover {
    transform: scale(1.3);
  }
}

.product-item__btn {
  &:first-of-type {
    margin-top: auto;
    margin-bottom: 10px;
  }
}

.product-item__info {
  padding-left: 10px;
}

.product-item__brand {
  display: block;
  margin-bottom: 5px;
  padding-left: 15px;
  font-size: 9px;
  font-weight: bold;
  letter-spacing: 2.25px;
  text-transform: uppercase;
  text-align: left;
  color: $color-pink;
}

.product-item__info-inner {
  padding-left: 13px;
  text-align: left;
  border-left: 2px solid #9B9A9A;
}

.product-item__name {
  display: block;
  margin-bottom: 2px;
  font-size: 13px;
  color: #363636;
}

.product-item__price {
  font-size: 13px;
  color: $color-grey;
}
