.social__list {
  @include ul-reset;
  display: flex;
  flex-direction: row;
}

.social__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  font-size: 0;
  border: 1px solid #B7B7B7;
  border-radius: 50%;
  transition: all 0.3s;
  &:hover {
    border-color: $color-pink;
    svg {
      * {
        fill: $color-pink;
      }
    }
  }
  a {
    display: block;
    padding: 7px;
  }
  svg {
    width: 15px;
    height: 15px;
    * {
      fill: #B7B7B7;
      transition: all 0.3s;
    }
  }
}
